/* 
COLORS
pink (terra cotta):  #E2665E
green (russian green): #678164
pale (banana mania): #F1E8B8
orange (pink-orange): #FF9C54
gray (black shadows): #BFB5AF
*/

#appname {
  font-family: "Cedarville Cursive", cursive;
  font-size: 8vw;
}

.modal-close {
  color: white;
}

.modal-footer {
  text-align: center !important;
}
div.checkspan {
  display: inline-block;
}

h2 {
  margin-top: none;
}

li {
  margin: 5% 0%;
  text-align: left !important;
}

.recipecardhead {
  color: #f1e8b8;
  font-size: 1.4rem !important;
}
.cardimg {
  opacity: 1;
}

img {
  height: 100%;
  border-radius: 0px 0px 14px 14px;
}
.carousel-slider {
  border-radius: 14px;
  box-shadow: 6px 6px 4px 2px #bfb5af;
}

#modal {
  display: none;
}

.container {
  position: relative;
  margin-top: 10rem;
}

#options,
#restrictionspage,
#ingredientspage {
  text-align: left !important;
}

#options {
  display: none;
  opacity: 0;
}

#restrictionspage {
  display: none;
}

#ingredientspage {
  display: none;
}

#carousel {
  display: none;
}

.dietoption {
  margin: 0rem 1.5rem;
}

hr {
  color: #e2665e;
  border: 3px solid #e2665e;
  margin-bottom: 2em;
}


input {
  position: absolute;
}

span {
  font-size: 2.4rem !important;
  color: #678164;
}

body {
  /* background-image: url(brooke-lark-08bOYnH_r_E-unsplash_shrunk.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #678164;
}

a {
  background-color: #e2665e !important;
}

a.carousel-item {
  background-color: #678164 !important;
}

nav {
  /* background-color: #2E0F15; */
  color: #2e0f15;
}

@media all and (max-width: 994px){
  #appnamediv{
  width: auto !important;
  margin-left: 47% !important;
  }
}

/* computer */
@media all and (min-width: 1024px) and (max-width: 1140px) {
  h2 {
    font-size: 2.5rem !important;
  }
  span {
    font-size: 2rem !important;
  }
  a.lastbuttons{
    margin: 0% 3%;
  }
}

/* tablet landscape and smaller */
@media all and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 2.25rem !important;
  }
  span {
    font-size: 1.75rem !important;
  }
}

/* tablet */
@media all and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 2rem !important;
  }
  span {
    font-size: 1.5rem !important;
  }

  a.lastbuttons{
    margin: 3% 0%;
  }

  a{
    font-size: .75rem !important;
  }
  .container {
    margin-top: 10rem;
  }

  span {
    margin-top: 3%;
  }
}

/* Phone landscape and smaller */
@media all and (max-width: 480px) {

  a.lastbuttons{
    margin: 3% 0%;
  }

  #restrictionspage {
    margin-top: 0;
  }
  .dietOption {
    margin-top: 0.75rem;
    display: block;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  span {
    font-size: 1.25rem !important;
  }

  h1 {
    font-size: 2rem !important;
  }
  h4 {
    font-size: 1.1rem;
  }

  span {
    margin-top: 2%;
  }

  .container {
    position: absolute;
    bottom: 15%;
  }
}
